body {
  background: black;
}
p {
  color: white;
}
h1 {
  font-weight: bold;
  color: rgb(174,0,0);
  text-align:left;
  font-family: cursive;
}
h4 {
   color: white;
}
h3 {
   color: white;
   text-align: center;
}
h2 {
   color: white;
}
ol {
   color: white;
}
li {
   color: white;
}
img {
  border-radius: 20px;
}
a {
  color: white;
}
.NBADRAFT {
  font-family: fantasy;
}